<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Barberia Alura</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>

    <header>

        <div class="caja">

            <h1>

                <img src="../../img/logo.png" alt="imagen de logo de baberia alura">

            </h1>

            <nav>
                <ul>

                    <li>

                        <a href="../../index.html">Home</a>

                    </li>

                    <li>

                        <a href="../template/productos.html">Productos</a>

                    </li>

                    <li>

                        <a href="../template/contacto.html">Contacto</a>

                    </li>

                </ul>

            </nav>

        </div> 

    </header>

    <main class="caja">

        <form >

            <label for="nombreyapellido">Nombre y apellido</label>
            <input type="text" id="nombreyapellido" class="input-texto" required>

            <label for="correoelectronico">Correo Electronico</label>
            <input type="email" id="correoelectronico" class="input-texto" required placeholder="email@dominio.com">

            <label for="telefono">Telefono</label>
            <input type="tel" id="telefono" class="input-texto" required placeholder="xxx-xxx-xxxx">

            <label for="mensaje">Mensaje</label>
            <textarea name="" id="mensaje" cols="70" rows="10"></textarea required>

            <fieldset>

                <legend>¿Como le gustaria que lo contactemos?</legend>

                <label for="radio-email"><input type="radio" name="contacto" id="radio-email" value="radio-email">Email</label>
                
                <label for="radio-telefono"><input type="radio" name="contacto" id="radio-telefono" value="radio-telefono">Telefono</label>
                
                <label for="radio-whatsapp"><input type="radio" name="contacto" id="radio-WhatsApp" value="radio-whatsapp" checked>WhatsApp</label>
                
            </fieldset>

            <fieldset>

                <legend>¿Horario en el que prefiere ser atendido?</legend>

                <select name="" id="">
                    <option value="">Mañana</option>
                    <option value="">Tarde</option>
                    <option value="">Noche</option>
                </select>

            </fieldset>

            <label for=""><input type="checkbox" class="checkbox" checked>Le gustaria recibir novedades de la Barberia Alura por correo?</label>

            <input type="submit" value="Enviar Formulario" class="enviar">

        </form>

        <table>

            <thead>

                <tr>
                    <th>Dia</th>
                    <th>Horario</th>
                </tr>

            </thead> 

            <tbody>

                <tr>
                    <td>Lunes</td>
                    <td>08h - 20h</td>
                </tr> 
    
                <tr>
                    <td>Miercoles</td>
                    <td>08h - 20h</td>
                </tr> 
    
                <tr>
                    <td>Viernes</td>
                    <td>08h - 20h</td>
                </tr>
            
            </tbody>
           

        </table>

    </main>

    <footer>

        <img src="../../img/logo-blanco.png" alt="imagen de logo de la barberia alura en blanco.">
        <p class="copyright"> &copy; Copyright Barberia Alura - 2020</p>
        
    </footer>

</body>

</html>